<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>Basic SFU Sat Template</TITLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P>
	This is the most basic template required to get started with the SFU Satellite Design Team&apos;s EDA workflow. It configures library paths to use the KiCad-Lib submodule. For more info about the KiCad library maintened by the team <a href="https://github.com/SFUSatClub/KiCad-Lib">visit our github repo</a>.
</P>
<P>2018 SFU Satellite Design Team</P>
</BODY>
</HTML>